:root {
  --background-color: #ffffff;
  --background-dark: #1d1c1c;
  --card: #f6f2ef;
  --accent-magenta: #ff5678;
  --accent-green: #149770;
  --text-primary: #1d1c1c;
  --text-secondary: #787878;
  --text-reversed: #ffffff;
  --primary-pink: #f45678;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  font-family: "Nunito", sans-serif;
  font-size: 1rem;
}

.headline {
  color: var(--accent-magenta);
  font-weight: bold;
  margin: 45px auto auto 120px;
  font-size: 1.2rem;
}

.gohome {
  margin: 1rem;
  color: #f45678;
}

.about, .selection {
  color: var(--text-primary);
  margin: 2rem auto auto 2rem;
  border-radius: 1rem;
}

.login {
  background-color: var(--primary-pink);
  border-radius: 1.1rem;
  align-items: center;
  text-align: center;
  letter-spacing: 2px;
  color: var(--text-reversed);
  border-color: var(--primary-pink);
  margin: 2rem 5rem auto 2rem;
}

button {
  background-color: var(--primary-pink);
  color: var(--background-color);
  border-radius: 1rem;
  padding: 10px 20px;
  border: none;
}

.selection-headline {
  font-weight: 800;
  font-size: 4rem;
  line-height: 3rem;
  margin-left: 7rem;
}

.selection-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 4rem auto;
}

.sort {
  text-decoration: none;
  color: var(--text-primary);
  font-size: 1.5rem;
  margin-right: 1.5rem;
  display: none;
}

.dropbtn {
  display: flex;
  justify-content: space-between;
  font-family: "Nunito";
  font-style: normal;
  font-weight: 800;
  font-size: 1.2rem;
  align-items: center;
  text-align: center;
  letter-spacing: 3px;
  color: var(--text-primary);
  background-color: var(--card);
  border-radius: 1.5rem;
  padding: 1rem;
  margin-left: 1rem;
  margin-right: 4rem;
}

.dropbtn > img {
  background-color: var(--text-primary);
  transform: rotate(90deg);
  border-radius: 1.4rem;
  size: 1.5rem;
}

.coffee-brand {
  display: flex;
  justify-content: space-around;
  align-content: space-around;
  align-items: center;
  padding: 3rem auto;
  flex-wrap: wrap;
  gap: 3rem;
}

div > p > strong {
  align-self: flex-start;
  font-size: 1.1rem;
}

.price {
  display: flex;
  justify-content: space-between;
  font-style: normal;
  font-weight: 700;
  font-size: 1.2rem;
  line-height: 1.5rem;
  align-items: center;
  width: 100%;
}

.origin {
  align-self: flex-start;
}

.label {
  align-items: center;
  text-align: flex-end;
}

.buybtn {
  background: var(--accent-magenta);
  border-radius: 1.5rem;
  justify-self: center;
  align-items: center;
  text-align: center;
  padding: 1rem 4rem;
}

.beans-card {
  justify-content: flex-start;
  justify-content: space-around;
  position: relative;
  width: 20rem;
}

.inner-box {
  position: absolute;
  top: 1.5rem;
  right: 0;
  width: 8rem;
  height: 2rem;
  color: var(--text-reversed);
  border-radius: 1rem 0 0 1rem;
  background-color: var(--accent-green);
  font-size: 1.2rem;
  font-weight: 700;
  font-family: Nunito;
}

.coffee-image {
  width: 90%;
}

footer {
  display: flex;
  flex-direction: column;
  min-height: 10rem;
  background-color: var(--background-dark);
  color: var(--text-reversed);
  align-items: center;
  justify-content: center;
  font-weight: 400;
  font-size: 1.2rem;
  margin-top: 5rem;
}

.find-us {
  margin-top: 5rem;
}

.icons > a {
  display: flex;
  flex-direction: row;
}

.fa-brands {
  gap: 1rem;
  height: 2rem;
  width: 2rem;
  margin-bottom: 2rem;
}

.nav-links a {
  display: inline-block;
  text-decoration: none;
  color: var(--text-primary);
  padding: 1rem;
}

.nav-links a:hover {
  background-color: var(--card);
  color: black;
}

.hamburger-menu {
  cursor: pointer;
  display: none;
  margin: 2rem;
}

.hamburger-menu .about,
.hamburger-menu .selection,
.hamburger-menu .login {
  width: 2rem;
  height: 5px;
  background-color: var(--primary-pink);
  margin: 6px 0;
  transition: 0.4s;
}

/* Tablet */
@media (max-width: 796px) {
  .login {
    display: none;
  }
  .selection-headline {
    font-size: 3rem;
    line-height: 2rem;
    margin-left: 7rem;
  }
}

/* Tablet */
@media (max-width: 768px) {
  .outer-box {
    width: 40%;
  }

  .nav-links {
    display: none;
  }

  .hamburger-menu {
    display: block;
  }

  .beans-card > img {
    width: 230px;
  }

  .sort {
    display: none;
  }
}

/* Mobile */
@media (max-width: 500px) {
  .outer-box {
    width: 100%;
  }

  .nav-links {
    display: none;
  }

  .hamburger-menu {
    display: block;
  }

  .beans-card > img {
    width: 200px;
  }

  .sort {
    display: none;
  }
}
