:root {
  --background-color: #ffffff;
  --background-dark: #1d1c1c;
  --card: #f6f2ef;
  --accent-magenta: #ff5678;
  --accent-green: #149770;
  --text-primary: #1d1c1c;
  --text-secondary: #787878;
  --text-reversed: #ffffff;
  --primary-pink: #f45678;
}

h1,
h2,
p,
a {
  font-family: "Nunito", sans-serif;
}

/* Add styles here */

.navbar-container {
  display: flex;
  justify-content: space-between;
  font-family: "Nunito", sans-serif;
  font-size: 1rem;
}

.headline {
  color: var(--accent-magenta);
  font-weight: bold;
  margin: 45px auto auto 120px;
  font-size: 1.2rem;
}

.about,
.selection {
  color: var(--text-primary);
  margin: 2rem auto auto 2rem;
  border-radius: 1rem;
}

.login {
  background-color: var(--primary-pink);
  border-radius: 1, 1rem;
  align-items: center;
  text-align: center;
  letter-spacing: 2px;
  color: var(--text-reversed);
  border-color: var(--primary-pink);
  margin: 2rem 5rem auto 2rem;
}

.banner-container {
  display: flex;
  flex-direction: row;
  margin: 5rem auto auto 5rem;
}

.header {
  color: var(--text-primary);
}

.header > h1 {
  font-weight: 800;
  font-size: 5rem;
  width: 100%;
  height: auto;
}

.header > h2 {
  font-weight: 600;
  font-size: 3rem;
  width: 100%;
  margin-top: 2rem;
  height: auto;
}

.search-container {
  display: flex;
  flex-direction: row;
  padding: 1rem 1, 5rem;
  font-size: 1rem;
  align-items: center;
  color: var(--text-secondary);
  flex-basis: 10rem;
  margin-top: 5rem;
  margin-left: 1rem;
}

.search-box {
  font-size: 1rem;
  border-width: 0;
  width: 20rem;
  height: 4rem;
  background-color: var(--card);
  border-radius: 1.2rem;
}

.arrow {
  margin-left: 1rem;
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
}

button {
  background-color: var(--primary-pink);
  color: var(--background-color);
  border-radius: 1rem;
  padding: 10px 20px;
  border-color: var(--background-color);
  border: none;
}

code {
  font-size: 1.5rem;
}

.image-parent {
  display: flex;
}

.image {
  display: flex;
  flex: 1 1 auto;
  max-width: "680px";
  width: 100%;
  height: auto;
  object-fit: cover;
}

.about-us {
  margin: 5rem;
  padding: 3rem;
  border-top: 3px solid var(--text-secondary);
  border-bottom: 3px solid var(--text-secondary);
}

.about-us > h2 {
  font-size: 4rem;
  margin-bottom: 1.5rem;
  margin-top: 3rem;
  font-weight: bolder;
}

.about-us > p {
  font-size: 1.3rem;
  line-height: 2rem;
  margin-top: 3rem;
  width: 80%;
}

.linked {
  color: var(--accent-magenta);
}

.coffee-brand {
  display: flex;
  justify-content: space-around;
  align-content: space-around;
  align-items: center;
  padding: auto;
  flex-wrap: wrap;
  gap: 1rem;
  margin: 0 2rem;
}

.beans-card {
  display: flex;
  flex-direction: column;
  background-color: var(--card);
  padding: 2rem;
  align-items: center;
  text-align: center;
  line-height: 2rem;
  border-radius: 1rem;
  justify-content: space-around;
  margin-left: 2.5rem;
}

.special {
  font-size: 4rem;
  font-weight: bolder;
  margin-left: 8rem;
  margin-top: 5rem;
  margin-bottom: 2rem;
}

footer {
  display: flex;
  flex-direction: column;
  min-height: 10rem;
  background-color: var(--background-dark);
  color: var(--text-reversed);
  align-items: center;
  justify-content: center;
  font-weight: 400;
  font-size: 1.2rem;
  margin-top: 5rem;
}

.find-us {
  margin-top: 5rem;
}

.icons > a {
  display: flex;
  flex-direction: row;
}

.fa-brands {
  gap: 1rem;
  height: 2rem;
  width: 2rem;
  margin-bottom: 2rem;
}

.nav-links a {
  display: inline-block;
  text-decoration: none;
  color: var(--text-primary);
  padding: 1rem;
}

.nav-links a:hover {
  background-color: var(--card);
  color: black;
}

.hamburger-menu {
  cursor: pointer;
  display: none;
  margin: 2rem;
}

.hamburger-menu .about,
.hamburger-menu .selection,
.hamburger-menu .login {
  width: 2rem;
  height: 5px;
  background-color: var(--primary-pink);
  margin: 6px 0;
  transition: 0.4s;
}

/* Tablet */
@media (max-width: 768px) {
  .beans-card {
    width: 50%;
  }
  .image {
    display: none;
  }
  .nav-links {
    display: none;
  }

  .hamburger-menu {
    display: block;
  }

  .search-box {
    font-size: 1rem;
    border-width: 0;
    width: 14rem;
    height: 3rem;
    background-color: var(--card);
    border-radius: 1.2rem;
    margin: 0;
  }

  button {
    display: none;
  }

  .header > h1 {
    font-size: 3rem;
    margin: 0;
  }

  .header > h2 {
    font-size: 2rem;
  }

  .about-us > h2 {
    font-size: 2rem;
    margin: 0;
  }

  .about-us > p {
    font-size: 1rem;
    line-height: 1.2rem;
    margin-top: 2rem;
    width: 90%;
  }

  .special {
    font-size: 2rem;
  }

  .beans-card > img {
    width: 200px;
  }
}

/* Mobile */
@media (max-width: 500px) {
  .beans-card {
    width: 100%;
  }
  .navbar-container {
    flex-direction: column;
  }
  .nav-links {
    display: none;
  }

  .hamburger-menu {
    display: none;
  }

  .search-container {
    display: none;
  }

  .coffee-image {
    width: 200px;
  }
}
