:root {
  --background-color: #FFFFFF;
  --background-dark: #1D1C1C;
  --card: #F6F2EF;
  --accent-magenta: #FF5678;
  --accent-green: #149770;
  --text-primary: #1D1C1C;
  --text-secondary: #787878;
  --text-reversed: #FFFFFF;
  --primary-pink: #F45678;
}

h1, h2 {
  font-family: 'Nunito', sans-serif;
}

p, a {
  font-family: 'Nunito Sans', sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  margin: 0 auto;
  width: 80%;
}

/* Add styles here */

.navbar-container {
  display: flex;
  justify-content: space-between;
  font-family: 'Nunito', sans-serif;
  font-size: 16px;
}

.headline {
  color: var(--accent-magenta);
  font-weight: bold;
  margin: 45px auto auto 120px;
  font-size: 18px;
}

.about, .selection {
  text-decoration: none; 
  color: var(--text-primary);
  margin: 38px auto auto 40px;
}

.login {
  background-color: var(--primary-pink);
  border-radius: 20px;
  align-items: center;
  text-align: center;
  letter-spacing: 3px;
  color: var(--text-reversed);
  border-color: var(--primary-pink);
  margin: 38px 140px auto 40px;
}

.banner-container {
  display: flex;
  flex-direction: row;
  margin: 200px auto auto 120px;
}

.header {
  color: var(--text-primary);
}

.header > h1 {
  font-weight: 800;
  font-size: 88px;
  width: 100%;
  height: auto;
}

.header > h2 {
  font-weight: 600;
  font-size: 40px;
  width: 100%;
  margin-top: 16px;
  height: auto;
}

.search-container {
  display: flex;
  flex-direction: row;
  padding: 16px 24px;
  font-weight: 400;
  font-size: 22px;
  align-items: center;
  color: var(--text-secondary);
  flex-basis: 400px;
  margin-top: 60px;
  margin-left: 16px;
}

.search-box {
  font-size: 16px;
  border-width: 0;
  width: 376px;
  height: 64px;
  background-color: var(--card);
  border-radius: 16px;
}

.arrow {
  margin-left: 10px;
  height: 64px;
  width: 64px;
  border-radius: 50%;
}

button {
  background-color: var(--primary-pink);
  color: var(--background-color);
  border-radius: 20px;
  padding: 10px 20px;
  border-color: var(--background-color);
  border: none;
}

code {
  font-size: 22px;
}

.image-parent {
  display: flex;
}

.image {
  display: flex;
  flex: 1 1 680px;  
  max-width: "680px";
  width: 100%;
  height: auto;
}

.about-us {
  margin: 80px auto auto 120px;
  padding: 80px 20px;
  border-block: 2px solid var(--text-secondary);
  display: inline-block;
}

.about-us > h2 {
  font-size: 48px;
  margin-bottom: 24px;
  margin-top: 80px;
  font-weight: bolder;
}

.about-us > p {
  font-size: 20px;
  line-height: 32px;
  margin-top: 70px 
}

.linked {
  color: var(--accent-magenta);
}

.coffee-brand {
  display: flex;
  justify-content: space-around;
  align-content: space-around;
  align-items: center;
  padding: 40px auto;
  flex-wrap: wrap;
  gap: 15px;
}

.beans-card {
  display: flex;
  flex-direction: column;
  background-color: var(--card);
  padding: 40px;
  align-items: center;
  text-align: center;
  line-height: 27px;
  border-radius: 10px;
  justify-content: space-around;
  gap: 8px;
  margin-bottom: 20px;
}

.special {
  font-size: 48px;
  font-weight: bolder;
  margin-left: 120px;
  margin-top: 80px;
  margin-bottom: 24px;
}

footer {
  display: flex;
  flex-direction: column;
  min-height: 300px;
  background-color: var(--background-dark);
  color: var(--text-reversed);
  align-items: center;
  justify-content: center;
  font-weight: 400;
  font-size: 22px;
  margin-top: 100px;
}

.find-us {
  margin-top: 60px;
}

.icons {
  display: flex;
  flex-direction: row;
  gap: 10px;
  height: 26px;
  width: 32px;
  left: 10px;
  top: 3px;
  margin: 60px 616px 20px 616px;
}

  /* Tablet */
  @media (max-width: 768px) {
  .beans-card {
    width: 50%;
  }
  .image {
  display: none;
  }
}

  /* Mobile */
  @media (max-width: 500px) {
  .beans-card {
    width: 100%;
  }
  .navbar-container {
    flex-direction: column;
  }
  .about-selection-login {
    flex-direction: column;
    margin: 40px;
  }
    
}
